use-host-decl-names on;
ddns-update-style interim;

{{ rndc_key }}

{% for item in dhcp_networks %}
{% set arpa =  (system_networks[item].gateway.split('.'))[2::-1]|join('.') -%}
{% set subnet =  (system_networks[item].gateway.split('.'))[0:3:]|join('.') -%}
{% set dot =  (system_networks[item].gateway.split('.'))[2] -%}
{% set netmask =  "255.255.255.0" -%}

zone {{ system_networks[item].subdomain }}.{{ domain }}. { primary {{ dns_server }}; key rndc-key; }
zone {{ arpa }}.in-addr.arpa. { primary {{ dns_server }}; key rndc-key; }
shared-network {{ item }} {
    subnet {{ subnet }}.0 netmask 255.255.255.0 {
        option domain-name-servers {{ dns_server }};
        option domain-search "{{ system_networks[item].subdomain }}.{{ domain }}";
        option routers {{ system_networks[item].gateway }};
        option domain-name "{{ system_networks[item].subdomain }}.{{ domain }}";
        default-lease-time 86400;
        max-lease-time 86400;
        range 10.0.{{ dot }}.50 10.0.{{ dot }}.220;
    }
}
{% endfor %}
