      {# Iterate through all of the networks in group_vars/all/networks.yml #}
      {% for network,network_vals in networks.items() %}
      {{ network }}:
      {# Network name #}
        gateway: "{{ network_vals.gateway }}"
        managed_by: "{{ network_vals.managed_by }}"
        subdomain: "{{ network_vals.subdomain }}"
      {% if network_vals.vlan_id is defined %}
        vlan_id: "{{ network_vals.vlan_id }}"
      {% endif %}
      {# If static mappings are defined #}
      {% if network_vals.static_mappings is defined %}
        static_mappings:
      {% for host,mapping_info in network_vals.static_mappings.items() %}
{{ host }}
      {% if inventory_hostname_short == host %}
      {% for nic in result.ovirt_nics %}
sailor
      {% if nic.name == network %}
          {{ host }}:
            mac: {{ nic.mac.address }}
            ip: {{ mapping_info.ip }}
      {% endif %}
      {% endfor %}
      {% else %}
      {{ mapping_info }}
      {#    {{ host }}:
            mac: {{ mapping_info.mac }}
            ip: {{ mapping_info.ip }}
      #}
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}

