{{ acme_default_user }} ALL=(ALL) NOPASSWD: /usr/sbin/service nginx reload, /usr/sbin/service nginx force-reload
{{ acme_default_user }} ALL=(ALL) NOPASSWD: /usr/sbin/service nginx reload, /usr/sbin/service haproxy force-reload
