version: '3'
services:
  postgres:
      container_name: postgres
      image: postgres
      restart: unless-stopped
      volumes:
        - /srv/keycloak/db:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: keycloak
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: {{ keycloak_db_pw }}
  keycloak:
      container_name: keycloak
      image: jboss/keycloak
      restart: unless-stopped
      ports:
        - 443:8443
      volumes:
        - {{ acme_default_user_homedir }}/.acme.sh/{{ inventory_hostname }}/fullchain.cer:/etc/x509/https/tls.crt
        - {{ acme_default_user_homedir }}/.acme.sh/{{ inventory_hostname }}/{{ inventory_hostname }}.key:/etc/x509/https/tls.key
      environment:
        DB_VENDOR: POSTGRES
        DB_ADDR: postgres
        DB_DATABASE: keycloak
        DB_USER: keycloak
        DB_SCHEMA: public
        DB_PASSWORD: {{ keycloak_db_pw }}
        KEYCLOAK_USER: admin
        KEYCLOAK_PASSWORD: {{ keycloak_web_pw }}
      depends_on:
        - postgres

