vrrp_instance VI_1 {
    state MASTER
    interface {{ kubernetes_master_listen_interface | default('eth0') }}
    virtual_router_id {{ kubernetes_master_vrid | default(100) }}
{% for host in groups['kube-master'] %}
{% if host == inventory_hostname %}
    priority {{ ( groups['kube-master'] | length ) - loop.index0 }}
{% endif %}
{% endfor %}

    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ lookup('password', '/tmp/keepalived_pw length=5 chars=ascii_letters') }}
    }
    virtual_ipaddress {
        {{ kubernetes_controlplane_endpoint }}
    }
}
