{% if state|default('present') == 'present' %}
{% set action = 'set' %}
{% elif state|default('present') == 'absent' %}
{% set action = 'delete' %}
{% endif %}

{{ action }} service dhcp-server host-decl-name
{{ action }} service dhcp-server dynamic-dns-update

{% for network in networks.items() %}
{% set manager = network[1].managed_by %}
{% if manager in group_names %}
{% set gateway = network[1].gateway %}
{% set subnet = gateway | ipaddr('host/prefix') | ipaddr('subnet') %}
{% set address = gateway | ipaddr('address') %}
{% set dhcp_start = subnet | ipmath(dhcp_range_start) %}
{% set dhcp_stop = subnet | ipmath(dhcp_range_end) %}
{% set domain_name = network[1].subdomain + "." + domain %}
{% set prefix = action + " service dhcp-server shared-network-name " + network[0] + " subnet " + subnet %}
{{ prefix }} default-router {{ address }}
{{ prefix }} dns-server {{ address }}
{{ prefix }} domain-name {{ domain_name }}
{{ prefix }} domain-search {{ domain_name }}
{{ prefix }} lease 86400
{{ prefix }} range 0 start {{ dhcp_start }}
{{ prefix }} range 0 stop {{ dhcp_stop }}
{% if action == 'delete' %}
{{ action }} service dhcp-server
{% endif %}
{% endif %}
{% endfor %}

