[Interface]
PrivateKey = {{ lightspeed_privkey }}
ListenPort = 55107
Address = 10.{{ cluster_index }}.0.100/24

{% for peer in groups.eclipse %}
{% set peervars = hostvars[peer] %}
[Peer]
PublicKey = {{ pubkeys[peer] }}
AllowedIPs = 10.{{ cluster_index}}.0.{{ peervars.cluster_index }}/32, 10.0.0.0/16
{% endfor %}
