{# Needed for Dynamic DNS to work #}
set service dhcp-server dynamic-dns-update
set service dhcp-server host-decl-name
{% if rndc_key is defined %}
set service dhcp-server global-parameters {{ rndc_key }}
{% endif %}

{% for network,desc in system_networks.items() %}
{# Set vars here #}
{% set eth = "eth" + (loop.index0 | string) %}
{% set ip_index = cluster_index | int + 10%}
{% set dhcp_prefix = "set service dhcp-server shared-network-name " + network + " subnet " + (desc.gateway | ipaddr('subnet')) %}
{% set domain_name = desc.subdomain + "." + domain %}
{% set dhcp_start = desc.gateway | ipaddr('network') | ipmath(dhcp_start) %}
{% set dhcp_end = desc.gateway | ipaddr('network') | ipmath(dhcp_end) %}
{% set ip_address = (desc.gateway | ipaddr('network') | ipmath(ip_index) | string ) + "/" + (desc.gateway | ipaddr('prefix') | string ) %}
{% set arpa_ip = ((desc.gateway | ipaddr('subnet') | ipaddr('revdns'))[2:]) %}
{# end vars here #}
{% if network not in banlist and network != "out" %}
{{ dhcp_prefix }} default-router '{{ desc.gateway | ipaddr('address') }}'
{{ dhcp_prefix }} dns-server '{{ dns_server }}'
{{ dhcp_prefix }} domain-search '{{ domain_name }}'
{{ dhcp_prefix }} domain-name '{{ domain_name }}'
{{ dhcp_prefix }} lease '86400'
{{ dhcp_prefix }} range 0 start '{{ dhcp_start }}'
{{ dhcp_prefix }} range 0 stop '{{ dhcp_end }}'
{# Static IP mappings #}
{% for machine,desc in static_mappings.items() %}
{% if desc.network is defined and desc.ip is defined and desc.mac is defined %}
{% if desc.network == network %}
{{ dhcp_prefix }} static-mapping {{ machine }} mac-address {{ desc.mac }}
{{ dhcp_prefix }} static-mapping {{ machine }} ip-address {{ desc.ip }}
{% endif %}
{% endif %}
{% endfor %}
{# End Static ip mappings #}
{# Dynamic Dns #}
{% if rndc_key is defined %}
set service dhcp-server global-parameters "zone {{ domain_name }}. { primary {{ dns_server }}; key rndc-key; }"
set service dhcp-server global-parameters "zone {{ arpa_ip }} { primary {{ dns_server }}; key rndc-key; }"
{% endif %}
{# End Dynamic DNS #}
{% endif %}
{% endfor %}
