set system host-name {{ inventory_hostname }}
set system domain-name "oxide.one"

{% if ssh_key_type is defined %}
set system login user vyos authentication public-keys default key {{ ssh_short_key }}
set system login user vyos authentication public-keys default type {{ ssh_key_type }}
{% endif %}

{% for network,desc in system_networks.items() %}
{# Set vars here #}
{% set eth = "eth" + (loop.index0 | string) %}
{% set ip_index = cluster_index | int + 10%}
{# end vars here #}
{% if network not in banlist %}
set interfaces ethernet {{ eth }} description {{ network }}
{% if network == "out" %}
set interfaces ethernet {{ eth }} address dhcp
{% if (groups['solar'] | length) != 1 %}
set high-availability vrrp group {{ network }} virtual-address {{ out_virtual_address }}
{% endif %}
{% else %}
{% if (groups['solar'] | length) != 1 %}
set interfaces ethernet {{ eth }} address {{ desc.gateway | ipaddr('network') | ipmath(ip_index) }}/{{ desc.gateway | ipaddr('prefix') }}
set high-availability vrrp group {{ network }} virtual-address {{ desc.gateway }}
{% else %}
set interfaces ethernet {{ eth }} address {{ desc.gateway }}
{% endif %}
{% endif %}
{% if (groups['solar'] | length) != 1 %}
set high-availability vrrp sync-group sync member '{{ network }}'
set high-availability vrrp group {{ network }} vrid {{ loop.index0 + 1 }}
set high-availability vrrp group {{ network }} interface {{ eth }}
set high-availability vrrp group {{ network }} priority '{{ 250 - ( cluster_index | int ) }}'
set high-availability vrrp group {{ network }} preempt-delay 5
{% endif %}
{% endif %}
{% endfor %}
{# Connection tracking #}
{# BROKEN 21.02.2020 UPSTEAM BUG
set firewall state-policy established action accept
set service conntrack-sync accept-protocol 'tcp,udp'
set service conntrack-sync event-listen-queue-size '8'
set service conntrack-sync failover-mechanism vrrp sync-group sync
set service conntrack-sync interface 'eth0'
set service conntrack-sync mcast-group '225.0.0.50'
set service conntrack-sync sync-queue-size '8'
#}
{# end of connection tracking #}

{# set service ssh disable-password-authentication #}
