set system host-name {{ inventory_hostname }}
set system domain-name "oxide.one"

{% if ssh_key_type is defined %}
set system login user vyos authentication public-keys default key {{ ssh_short_key }}
set system login user vyos authentication public-keys default type {{ ssh_key_type }}
{% endif %}

{% for network,desc in system_networks.items() %}
{# Set vars here #}
{% set eth = "eth" + (loop.index0 | string) %}
{% set ip_index = cluster_index | int + 10%}
{% if network == "wireguard" %}
{% set eth = "eth1" %}
{% endif %}
{# end vars here #}
{% if network not in banlist %}
set interfaces ethernet {{ eth }} description {{ network }}
{% if network == "out" %}
set interfaces ethernet {{ eth }} address dhcp
{% else %}
set interfaces ethernet {{ eth }} address {{ desc.gateway  }}
{% endif %}
{% endif %}
{% endfor %}
{% set prefix="set interfaces wireguard wg01" %}
set interfaces ethernet eth1 policy route wireguard
{{ prefix }} address '{{ mullvad_ip }}'
{{ prefix }} description 'tunnel to {{ mullvad_endpoint }}'
{{ prefix }} peer {{ mullvad_endpoint }} allowed-ips '0.0.0.0/0'
{{ prefix }} peer {{ mullvad_endpoint }} endpoint '{{ mullvad_endpoint }}:51820'
{{ prefix }} peer {{ mullvad_endpoint }} pubkey '{{ mullvad_endpoint_pubkey }}'
{% set prefix="set nat source rule 100" %}
{{ prefix }} outbound-interface wg01
{{ prefix }} source address {{ system_networks.wireguard.gateway | ipmath(-1) }}/24
{{ prefix }} translation address 'masquerade'
{% set prefix="set policy route wireguard" %}
{{ prefix }} rule 20 description 'Wireguard tunnel'
{{ prefix }} rule 20 set table 10
{{ prefix }} rule 20 source address {{ system_networks.wireguard.gateway | ipmath(-1) }}/24
{% set prefix="set protocols static table 10 interface-route" %}
{{ prefix }} 10.0.0.0/16 next-hop-interface eth0
{% for network,desc in system_networks.items() %}
{% if network != 'wireguard' %}
{{ prefix }} {{ desc.gateway | ipmath(-1) }}/24 next-hop-interface eth0
{{ prefix }} {{ desc.gateway | ipmath(-1) }}/24 next-hop-interface eth0 distance '1'
{% endif %}
{% endfor %}
{{ prefix }} 0.0.0.0/0 next-hop-interface wg01
{{ prefix }} 0.0.0.0/0 next-hop-interface wg01 distance '2'
{# Connection tracking #}
{# BROKEN 21.02.2020 UPSTEAM BUG
set firewall state-policy established action accept
set service conntrack-sync accept-protocol 'tcp,udp'
set service conntrack-sync event-listen-queue-size '8'
set service conntrack-sync failover-mechanism vrrp sync-group sync
set service conntrack-sync interface 'eth0'
set service conntrack-sync mcast-group '225.0.0.50'
set service conntrack-sync sync-queue-size '8'
#}
{# end of connection tracking #}

{# set service ssh disable-password-authentication #}
