set system host-name {{ inventory_hostname }}
set system domain-name "oxide.one"

{% if ssh_key_type is defined %}
set system login user vyos authentication public-keys default key {{ ssh_short_key }}
set system login user vyos authentication public-keys default type {{ ssh_key_type }}
{% endif %}

{% for server in groups['lightspeed'] %}
{% set servervars = hostvars[server] %}
{% set prefix = "set interfaces wireguard wg0" + servervars.cluster_index %}
{{ prefix }} address '10.{{ servervars.cluster_index }}.0.{{ cluster_index }}/24'
{{ prefix }} description 'Tunnel to {{ server }}'
{{ prefix }} peer {{ server }} allowed-ips '10.{{ servervars.cluster_index }}.0.0/24'
{{ prefix }} peer {{ server }} endpoint '{{ server }}:55107'
{{ prefix }} peer {{ server }} pubkey '{{ lightspeed_pubkey }}'
{{ prefix }} port '5510{{ servervars.cluster_index }}'
{{ prefix }} peer {{ server }} persistent-keepalive 30
{% endfor %}
